.main-body {
  color: white;
  margin: 2%;
  margin: 10%;
}
.navbar {
  margin: 5%;
  margin-left: 0%;
}
.navtext {
  padding: 5%;
}

.hero-text {
  font-weight: 600;
  font-size: 32px;
}
.content {
  line-height: 2rem;
  padding-bottom: 10%;
}
.img-section > img {
  width: 100%;
}
article {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.wrap {
  border-radius: 30px;
  padding-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 1%;

  background-image: url("/src/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
i > a {
  text-decoration: none;
  color: black;
  cursor: grab;
  padding: 10px;
}
hr {
  border-top: 1px solid black;
  opacity: 1;
}
i > a:hover {
  text-decoration: none;
  color: black;
  cursor: grab;
  padding: 10px;
}
footer {
  margin: 10%;
}
.social {
  margin: 5%;
}
.footer-text {
  font-size: 18px;
}

.exhibition-hero {
  font-family: Calisga;
}
main {
  margin: 10%;
}
.more {
  margin: 5%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.art {
  font-size: 21px;
  margin-bottom: 5%;
}
.artist {
  font-family: Calisga;
}
.showcase > img {
  width: 100%;
}
.showcase {
  margin: 10%;
}

i>span{
    font-weight: 400;
}

.button-18 {
    margin-bottom: 15%;
    width: 60%;
  align-items: center;
  background-color: #00A3FF;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.social>div{
    margin-top: 5%;
    margin-bottom: 5%;
}
.bth-text{
    font-size: 24px;
    font-weight: 500;
}
.more-data{
    font-size: 20px;
    font-weight: 500;
}