.main-body {
  color: white;
  margin: 2%;
  margin: 10%;
}
.navbar {
  margin: 5%;
  margin-left: 0%;
}
.navtext {
  padding: 5%;
}

.hero-text {
  font-weight: 600;
  font-size: 32px;
}
.content {
  line-height: 2rem;
  padding-bottom: 10%;
}
.img-section > img {
  width: 100%;
}
article {
  width: 100%;
}
.wrap {
  border-radius: 30px;
  padding-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom:1%;
  
  background-image: url("/src/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
i>a{
    text-decoration: none;
    color: black;
    cursor:grab;
    padding: 10px;
}
hr{
    border-top: 1px solid black;
    opacity: 1;
}
i>a:hover{
    text-decoration: none;
    color: black;
    cursor:grab;
    padding: 10px;
}
footer{
    margin: 10%;
}
.social{
    margin: 5%;
}
.footer-text{
    font-size:18px;
}